

.navbar {
    background-color:rgb(53, 58, 64);
}

.tickets {
    text-decoration-color:rgb(39, 156, 67);
}

.icono {
    margin-left: 80px;
}

.enlaces {
    margin-right: 80px;
}

.imgBanner {
    background: linear-gradient(rgba(7, 7, 7, 0.5), rgba(7, 7, 7, 0.5)),
                url(/assets/img/ba1.jpg)
                center center
                fixed;
    background-size: cover;
    height: 85vh;
}

.texto{
    margin-right: 100px;
}

.boton {
    background-color: rgb(39,156,67);
}

h6 {
    font-size: 10px;
}
.oradores {
    margin-right: 85px;
    margin-left: 85px;
}

.btn-warning {
    padding: 1px 3px 1px 3px;
    font-size: 10px;
}

.btn-info {
    padding: 1px 3px 1px 3px;
    font-size: 10px;
    color: white; 
    background-color: rgb(23,162,183);
}

.botonAda{
    padding: 1px 3px 1px 3px;
    font-size: 10px;  
}