

.navbar {
    background-color:rgb(53, 58, 64);
}

.tickets {
    text-decoration-color:rgb(39, 156, 67);
}

.icono {
    margin-left: 80px;
}

.enlaces {
    margin-right: 80px;
}

.imgBanner {
    background: linear-gradient(rgba(7, 7, 7, 0.5), rgba(7, 7, 7, 0.5)),
                url(/assets/img/ba1.jpg)
                center center
                fixed;
    background-size: cover;
    height: 85vh;
}

.texto{
    margin-right: 8%;
}

.boton {
    background-color: rgb(39,156,67);
}

h6 {
    font-size: 10px;
}
.oradores {
    margin-right: 7%;
    margin-left: 7%;
}

.card {
    font-size: 10px;
}

.btn-warning {
    padding: 1px 3px 1px 3px;
    font-size: 10px;
}

.btn-info {
    padding: 1px 3px 1px 3px;
    font-size: 10px;
    color: white; 
    background-color: rgb(23,162,183);
}

.botonAda{
    padding: 1px 3px 1px 3px;
    font-size: 10px;  
}

.lugar {
    background-color:rgb(53, 58, 64);
    font-size: 10px;
    padding: 10px;
}

.pConviertete {
    font-size: 12px;
}

.formulario {
    margin-left: 25%;
    margin-right: 25%; 
}

.btnFormulario{
    background-color: rgb(150, 201, 62);
}

.footer {
    align-items: center;
    background-image: linear-gradient(to right, rgb(28, 56, 68),rgb(43, 102, 134));
    text-align: center;
    font-size: 0.7em;
}

.itemsFooter {
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: 1em;
   margin-right: 1em;
}

a { 
    text-decoration: none; 
    color: white;
}


