

.navbar {
    background-color:rgb(53, 58, 64);
}

.tickets {
    text-decoration-color:rgb(39, 156, 67);
}

.icono {
    margin-left: 80px;
}

.enlaces {
    margin-right: 80px;
}

/*Ticket*/
.tickets .container-tickets {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 6rem;
  }
  
  .tickets-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
  }
  
  .tickets-category .estudiante,
  .trainee,
  .junior {
    width: 25%;
    min-width: 180px;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .tickets-category .estudiante:hover,
  .trainee:hover,
  .junior:hover {
    transform: scale(0.97);
  }
  
  .tickets-category h2 {
    font-size: 1.5rem;
  
  }
  
  .tickets-category h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .tickets-category h5 {
    font-size: 1rem;
    color: rgb(135, 135, 135);
  }
  
  .tickets-category h6 {
    font-size: 0.7rem;
    color: rgb(155, 154, 154);
  }
  
  .tickets-category .estudiante {
    border-radius: 2px;
    border: 1.5px solid blue;
  }
  
  
  .tickets-category .trainee {
    border-radius: 2px;
    border: 1.5px solid green;
  }
  
  .tickets-category .junior {
    border-radius: 2px;
    border: 1.5px solid orange;
  }
  
  
  .container-tickets .tickets-text {
    text-align: center;
  }
  
  .tickets-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .tickets-form .ticketsFirstName,
  .ticketsLastName {
    width: 49%;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 5px;
  }
  
  .tickets-form .ticketsEmail {
    width: 100%;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 4px;
  }
  
  .tickets-form .labelTicketsQuantity,
  .labelTicketsCategory {
    width: 49%;
    margin: 1rem 0;
  }
  
  .tickets-form .ticketsQuantity,
  .ticketsCategory {
    width: 100%;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 4px;
  }
  
  .tickets-form .ticketsCategory {
    background-color: transparent;
    color: rgb(155, 154, 154);
  }
  
  
  .tickets-form .ticketsOutput {
    width: 100%;
    background-color: rgb(204, 229, 255);
    border-radius: 3px;
    border: 1px solid rgb(185, 219, 255);
    padding: 13px;
    color: rgb(0, 64, 149);
    margin: 2rem 0;
  }
  
  .tickets-form .btnTickets {
    width: 49%;
    background-color: rgb(151, 201, 62);
    color: white;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
  }
  
/* footer */
.footer {
    align-items: center;
    background-image: linear-gradient(to right, rgb(28, 56, 68),rgb(43, 102, 134));
    text-align: center;
    font-size: 0.7em;
}

.itemsFooter {
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: 1em;
   margin-right: 1em;
}

a { 
    text-decoration: none; 
    color: white;
}


